<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script>
			angular.module("myapp", [])

			.directive("datepicker", function() {
			  return {
				restrict: "A",
				require: "ngModel",
				link: function (scope, elem, attrs, ngModelCtrl) {
				  var updateModel = function (dateText) {
					scope.$apply(function () {
					  ngModelCtrl.$setViewValue(dateText);
					});
				  };
				  var options = {
					dateFormat: "dd.mm.yy",
					onSelect: function (dateText) {
					  updateModel(dateText);
					}
				  };
				  elem.datepicker(options);
				}
			  };
			})
			.controller("myctrl", ["$scope", function($scope) {
			}]);
		</script>
		<style>
			.invalid { border: 1px solid red;}
		</style>
	</head>
	<body>
	<div ng-app="myapp">
		<div ng-controller="myctrl">
			<p>{{datePicker || "00.00.0000"}}</p>
			<input type="text" ng-model="datePicker" datepicker />
			<p>{{datePicker2 || "00.00.0000"}}</p>
			<input type="text" ng-model="datePicker2" datepicker />
		</div>
	</div>
	</body>
</html>